<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>

  <% Object.keys(arrData).forEach(function (key) { %>
    <p><%= key %>: <%= arrData[key] %></p>
  <% }) %>
</body>

</html>